
h1 {
    margin:auto;
    padding: 15px 0;
    color: #000000;
    background-color: rgb(255, 0, 0);
}
h1 {
    font-size: 60px;
    text-align: center;
}

html {
    background-color:#ff00ff
}

h2 {
    background-color:#ff00ff;
    color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh
}
h4 {
    float: left;
  padding: 100px;
  margin:auto;
    color:#000000;
    background-color: rgb(7, 218, 17);
    height:565px;
}

h3 {
    margin:auto;
    padding: 15px 0;
    color: #000000;
    background-color: rgb(255, 251, 0);
}
h3 {
    font-size: 60px;
    text-align: center;
}




