
html{
    background-color:rgb(255, 255, 255);
}
#Bandeau{
    background-color:aqua;
    width:100%;
    text-align: center;
    height: 150px;
}
#Menu{
    background-color:gold;
    width:100%;
    text-align: center;
    float:initial
}
#Contenu{
    background-color:gold;
    width:100%;
    text-align: center;
    float:initial;
}
#MenuHaut{
  background-color:chartreuse;
  width:250px;  
  height:300px;
}
#MenuBas{
    background-color:blueviolet;
    width:250px;
    height:300px;
}
#MenuDroite{
    background-color:red;
    width:250px;
    height:300px;
    float:right;
}
#Pieddepage{
    background-color:greenyellow;
    width:100%;
    text-align:center;
    height:150px;
}