
h1 {
    margin: 0;
    padding: 15px 0;
    color: #000000;
    background-color: rgb(255, 0, 0);
}
h1 {
    font-size: 60px;
    text-align: center;
}

html {
    background-color:#ff00ff
}

h2 {
    text-align:center;
    background-color:#ff00ff;
    padding:  280px;
    color:#000000;
    font-size: 30px;
}

h3 {
    margin: 0;
    padding: 15px 0;
    color: #000000;
    background-color: rgb(255, 251, 0);
}
h3 {
    font-size: 60px;
    text-align: center;
}

h4 {
    text-align:center;
    color:#000000;
    font-size: 30px;
    margin: 50px;
    background-color: chartreuse;
}


